@media (max-width: 1350px) {

   span.trackname {
     font-size: 1em;
   }

}

@media (max-width: 540px) {

  .scloudRow {

      .btn-panel {
        position: static;
        float: right;

        .btn-thin {
          padding: 0 7px;
        }
      }


      span p {
       width: 60%;
      }
  }

}
