         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title"><b>{{artist.artist.name}}</b></h1>
              </div>
              <div class="modal-body">
                  <img class="bio-img" src="{{ artist.artist.image[3]['#text'] }}"></img>
                <p class="bio-p" ng-bind-html="artist.artist.bio.summary"></p>
              </div>
              <div class="modal-footer">
              <ul class="list-inline">
                <li ng-repeat="tag in artist.artist.tags.tag">
                  <div class="tag-custom">
                    <a class="tag-itself"
                       href="https://en.wikipedia.org/wiki/{{ tag.name }}">
                       #{{ tag.name }}
                    </a>
                  </div>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>