         <div class="modal fade">
          <div class="modal-dialog wide-modal">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title"><b>Similar Artists</b></h1>
              </div>
              <div class="modal-body">

            
              <div class="row">
                <div ng-repeat="entry in artist.artist.similar.artist" class="artist-module col-lg-4 col-sm-6 col-xs-12">
                  <a href="#" class="thumbnail">
                   <img ng-src="{{entry.image[4]['#text']}}" class="artist-similar-img img-responsive">
                     <h2 class="header-artist"><span>{{ entry.name }}</span></h2>
                 </a>
                
               </div>
              </div>


              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>